
<%- include('../components/header') %>


<div class="log askQuestionPage">

    <form method="POST" action="/edit-question/<%= question.id %>" class="log_form">
      <div class="mb-3">
        <label for="question" class="form-label">Question :</label>
        <input value="<%= question.question %>" name="question" type="text" class="form-control" id="question">
        <!-- <small class="form-text warning question">warning </small> -->
      </div>
      
      <div class="form-floating">
        <textarea value="<%= question.description %>" name="description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/">
        <button type="button" class="btn btn-warning">Cancel</button>
      </a>
  
    </form>
  
  </div>



  <%- include('../components/footer') %>